/src/.vs/
/src/AsyncFiberWorks/bin/
/src/AsyncFiberWorks/obj/
/src/AsyncFiberWorksTests/bin/
/src/AsyncFiberWorksTests/obj/
/src/packages
/src/TimerPrecisionTests/bin
/src/TimerPrecisionTests/obj
/src/WpfExample/bin/
/src/WpfExample/obj/
